<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Add a Quote :</h2>
  <form (submit)="onSubmit()">
    <textarea name='quote' [(ngModel)]='quote.text'></textarea>
    <p>Author <input type='text' name ='author' [(ngModel)]='quote.author'></p>
    <input type='submit' value='Add Quote'>
  </form>
  {{ quote | json }}
</body>
</html>