<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QuontingDojo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>Welcome to Quoting Dojo</h2>
    <form method="post" action="/quotes">
    Your Name :
    <input type="text" name="name" required="true">
    <br></br>
    Your Quote :
    <textarea name="quote"></textarea>
   <br></br>
    <input type="submit" value="Add my quotes!">
   <br></br>
    <input type="submit" value="Skip to quotes!">
    <br></br>
    </form>
    </body>
</html>